<!doctype html>
<html lang="en" id="all">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script async defer data-domain="ilvaccine.com" src="https://analytics.ilvaccine.com/js/plausible.js"></script>
    <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
    <script src="/static/accessibility-en.js"></script>
    <meta property="og:site_name" content="ILVaccine">
    <meta name="description"
        content="ILVaccine.org is a site that displays COVID-19 Coronavirus vaccine appointment availability and eligibility in the state of Illinois.">
    <title>ILVaccine.org - Home</title>
</head>

<body>
    <div class='header'>
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
            <a class="navbar-brand" class="mr-5" href="/">ILVaccine</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link disabled" href="/about">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                            data-toggle="dropdown" data-target="#Dropdown2" aria-haspopup="true" aria-expanded="false">
                            Contact
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown2" id="Dropdown2">
                            <a class="dropdown-item disabled" href="/forms/volunteer">Volunteer</a>
                            <a class="dropdown-item disabled" href="/forms/corrections">Corrections/Additions</a>
                            <a class="dropdown-item" href="/forms/contact">Other Inquiries</a>
                        </div>
                    </li>
                </ul>
        </nav>
    </div>
    <h6 class="text-center">
        <u><a href="/" class="mr-4">English</a></u>
        <a href="/es/" class="ml-4">Español</a>
    </h6>
    <h2 class="mb-2 text-center">ILVaccine.org</h2>
    <p class="mb-2 text-center">In light of excess vaccine supply and improved functionality of vaccines.gov, including the addition of real time availability,<br> ILVaccine.org is no longer updating. Thank to all of our volunteers.</p>
    <h5 class='text-center mb-2 mt-5'>Still looking for a vaccine?</h5>
    <div class="container">
        <div class="row">
          <div class="col-md">
            <p class='text-center mt-2 text-wrap text-break'>If you are still looking for a vaccine, please click the button below to access vaccines.gov:</p>
        </div>
        </div>
      </div>
    <a href="/vf-redirect"><button type="button" class="btn btn-primary mb-5" style="display: block; margin: 0 auto;">Visit Vaccines.gov</button></a>
    <h5 class='text-center mb-2 mt-5'>Archived ILVaccine.org Data</h5>
    <div class="container">
        <div class="row">
          <div class="col-md">
            <p class='text-center mt-2 text-wrap text-break'>If you wish to view archived ILVaccine.org data, you can access it by clicking the button below:</p>
        </div>
        </div>
      </div>
    <a href="/home-archived"><button type="button" class="btn btn-primary mb-5" style="display: block; margin: 0 auto;">Visit the ILVaccine.org Archive</button></a>
    <h5 class='text-center mb-2 mt-5'>Media Coverage of ILVaccine.org</h5>
    <div class="container">
        <div class="row">
          <div class="col-md text-center mb-2">
                <a href="https://www.nbcchicago.com/news/coronavirus/evanston-teens-website-helps-area-residents-book-covid-vaccine-appointments/2446801/"><p>NBC 5 Chicago</p></a>
                <a href="https://blockclubchicago.org/2021/03/31/this-teenagers-website-is-helping-people-across-chicago-snag-vaccine-appointments/"><p>Block Club Chicago</p></a>
                <a href="https://www.chicagotribune.com/coronavirus/vaccine/ct-life-eli-coustan-vaccination-help-tt-0401-20210401-42cyywdfw5gyrbopfx73lolvj4-story.html"><p>Chicago Tribune</p></a>
                <a href="https://www.ama-assn.org/delivering-care/public-health/13-year-old-illinois-creates-vaccine-appointments-database"><p>American Medical Association</p></a>
          </div>
        </div>
      </div>

    <div class="fab" onclick="openNav()">
        <img src="/static/human.png" alt="accessibility options" height="50%">
    </div>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#" onclick="increaseText()">+ Increase Text Size</a>
        <a href="#" onclick="decreaseText()">- Decrease Text Size</a>
        <a href="#" onclick="enableHighContrast()">Toggle Contrast</a>
    </div>
    <div class="footer">
        <p class="mt-5 mb-4 ml-5 mr-5 card-text text-center">
            ILVaccine is run by volunteers. We cannot be held liable for any inaccurate data on this site. Data is
            provided as is. Information about what data we collect and how it is processed can be accessed by clicking
            <a href='https://plausible.io/data-policy'>here.</a>
        </p>
    </div>
</body>

</html>
